body {
    background-color: #FFEACB;
    color: #46244C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    border-top-color: #92BA92;
    border-style: dotted none none none;
    border-top-width: 10px;
    height: 0px;
    width: 10%;
    background-color: transparent;
}

h1 {
    color: #712B75;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    color: #C74B50;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3 {
    color: #C74B50;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a {
    color: #D49B54;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

th {
    font-family: Georgia, 'Times New Roman', Times, serif;
}