body {
    background-color: #F5E8E4;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    border-top-color: #F5C7A9;
    border-style: dotted none none none;
    border-top-width: 10px;
    height: 0px;
    width: 10%;
    background-color: transparent;
}

h1 {
    color: #411530;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    color: #411530;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3 {
    color: #411530;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a {
    color: #D1512D;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

th {
    font-family: Georgia, 'Times New Roman', Times, serif;
}